{erl_opts, [debug_info]}.
{deps, [{erlcount, {path, "./erlcount"}}]}.
{plugins, [{rebar3_path_deps, {git, "https://github.com/benoitc/rebar3_path_deps"}}]}.

{relx, [{release, {erlcount, "1.0.0"}, [pool_otp, erlcount]},
    {dev_mode, true},
    {include_erts, true},
    {extended_start_script, true}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [pool_otp, erlcount]}
]}.
